files:
  "c:\\config\\DefaultSamplingRules.json":
    content: |
      {
        "rules": {
          "checkout": {
            "id": 5,
            "service_name": "checkout",
            "http_method": "POST",
            "url_path": "/checkout",
            "fixed_target": 10,
            "rate": 0.3
          },
          "base": {
            "id": 2,
            "service_name": "base.com",
            "http_method": "GET",
            "url_path": "*",
            "fixed_target": 100,
            "rate": 0.5
          }
        }
      }
    encoding: plain
  "c:\\config\\AWSRequestInfo.json":
    content: |
      {
        "services": {
          "DynamoDBv2": {
            "operations": {
              "DescribeTable": {
                "request_parameters": [
                  "TableName"
                ]
              },
              "GetItem": {
                "request_descriptors": {
                  "ExpressionAttributeNames": {
                    "map": true,
                    "get_keys": true,
                    "rename_to": "attribute_names_substituted"
                  }
                },
                "request_parameters": [
                  "ConsistentRead",
                  "ProjectionExpression",
                  "TableName"
                ],
                "response_parameters": [
                  "ConsumedCapacity"
                ]
              },
              "PutItem": {
                "request_descriptors": {
                  "ExpressionAttributeNames": {
                    "map": true,
                    "get_keys": true,
                    "rename_to": "attribute_names_substituted"
                  }
                },
                "request_parameters": [
                  "TableName"
                ],
                "response_parameters": [
                  "ConsumedCapacity",
                  "ItemCollectionMetrics"
                ]
              }
            }
          }
        }
      }
    encoding: plain