container_commands:
  01-execute-config-scirpt:
    command: Powershell.exe -ExecutionPolicy Bypass -File c:\\temp\\installDaemon.ps1
    waitAfterCompletion: 0
 
files:
  "c:/temp/installDaemon.ps1":
    content: |
      if ( Get-Service "AWSXRayDaemon" -ErrorAction SilentlyContinue ){
          sc.exe stop AWSXRayDaemon
          sc.exe delete AWSXRayDaemon
      }
      if ( Get-Item -path aws-xray-daemon -ErrorAction SilentlyContinue ) {
          Remove-Item -Recurse -Force aws-xray-daemon
      }
 
      $currentLocation = "c:\temp"
      $zipFileName = "aws-xray-daemon-windows-service-3.x.zip"
      $zipPath = "$currentLocation\$zipFileName"
      $destPath = "$currentLocation\aws-xray-daemon"
      $daemonPath = "$destPath\xray.exe"
      $daemonLogPath = "C:\logs\xray-daemon.log"
      $url = "https://s3.amazonaws.com/aws-xray-assets.us-east-1/xray-daemon/aws-xray-daemon-windows-service-3.x.zip"
 
      Invoke-WebRequest -Uri $url -OutFile $zipPath
      Add-Type -Assembly "System.IO.Compression.Filesystem"
      [io.compression.zipfile]::ExtractToDirectory($zipPath, $destPath)
 
      sc.exe create AWSXRayDaemon binPath= "$daemonPath -f $daemonLogPath"
      sc.exe start AWSXRayDaemon
    encoding: plain
  "c:/Program Files/Amazon/ElasticBeanstalk/config/taillogs.d/xray-daemon.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      C:\logs\xray-daemon.log
