<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.31.6" targetFramework="net45" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.17.4" targetFramework="net45" />
  <package id="AWSSDK.XRay" version="3.3.5.15" targetFramework="net45" />
  <package id="AWSXRayRecorder" version="2.5.0" targetFramework="net45" />
  <package id="AWSXRayRecorder.Core" version="2.5.0" targetFramework="net45" />
  <package id="AWSXRayRecorder.Handlers.AspNet" version="2.5.0" targetFramework="net45" />
  <package id="AWSXRayRecorder.Handlers.AwsSdk" version="2.5.0" targetFramework="net45" />
  <package id="AWSXRayRecorder.Handlers.SqlServer" version="2.5.0" targetFramework="net45" />
  <package id="AWSXRayRecorder.Handlers.System.Net" version="2.5.0" targetFramework="net45" />
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>